@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-board{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

 button {
    height: 100px;
    width: 100px;
}